body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.692),rgba(48, 48, 48, 0.699)),url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}
#main-container{
  position: absolute;
  top: 50px;
  height: auto;
  padding: 50px;
  border-color: #e8e8e8;
  border-style: dashed;
  background-color: #fafafa;
  margin-left: 50px;
  margin-right: 50px;
  margin-top:50px;
}

#upload-container{
  height: auto;
  width: 80%;
  position: relative;
  margin-left:20%;
  margin-right:20%;
  background-color: whitesmoke;
}

.centered{
	text-align:center;
}

#predict{

}